<style>
    html{
        font-family: Arial;
        font-size: 20px;
        background-color: cornflowerblue;
        text-align: center;
        color: #ffffff;
    }

    .block{
        /*border: 1px solid black;*/
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 30px;
        height: 800px;
    }
    .icones{
        display: block;
        width: 200px;
        margin: 0 auto;
    }
    .temp{
        font-size: 30px;
        font-weight: 600;
        margin-top: 30px;
    }
    .localisation{
        font-size: 35px;
        margin-top: 75px;
    }
</style>

<div class="block">
    <p>{{ date }}</p>
    <img class="icones" src="data:image/png;base64,{{ data_icon }}" />
    <p class="temp">{{ temp }}°C</p>
    <p class="localisation">{{ localisation }}</p>
</div>


